/* Fonts */
@font-face {
  font-family: 'Betm-Black';
  src: url('./../fonts/BetmBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



body{
  background: -webkit-gradient(linear, left top, left bottom, from(#13547a), to(#80d0c7)) fixed;
}
h1{
  color: #fff !important;
}

.crop-container {
    width: 100%; /* Ancho fijo para el contenedor */
    overflow: hidden;
    position: relative; /* Importante para posicionar la imagen absolutamente dentro */
    border-radius: 100px; /* Recorte en las esquinas */
    box-shadow: 9px 15px 7px rgba(0,0,0,0.13); /* Sombra suave */
    margin: 20px auto; /* Centrado y espacio alrededor del contenedor */
    display: grid;
    place-items: center;
    border: 10px solid #2d9ffb;
    padding: 0px !important;
    background-color: #2d9ffb;
  }
  
  .logo-nav{
    width: 50px;
    margin-right: 20px;
  }
  .crop-image {
    transition: transform 0.8s ease-out; /* Ajusta la duración y la curva de velocidad según necesites */
    width: 150%;
  }
  

@media (max-width: 899px) {
.crop-container {
    height: auto; /* Altura auto para mantener la imagen completamente visible */
    padding: 20px; /* Ajusta si deseas padding dentro del contenedor */
}
.crop-image {
    position: relative; /* Posicionamiento relativo para ajuste en pantallas pequeñas */
    height: auto;
}
}
  
.qr-code {
  max-width: 150px; /* Ajusta esto según tus necesidades */
  max-height: 150px;
  /* transform: translate(-50%, -50%); /* Centra la imagen en el contenedor */
  margin: 0 30%;
  cursor: none;
  filter: hue-rotate(220deg) saturate(100%) brightness(84%);
}

#UsernameTooltip,
#PasswordTooltip,
#OtpTokenTooltip {
  margin-left: 5px !important;
}

.top-0{
  top: 30%;
  left: 35%;
}

nav.MuiTypography-root.MuiTypography-body1.MuiBreadcrumbs-root.css-51la7g-MuiTypography-root-MuiBreadcrumbs-root{
  background-color: #e6e1cf;
}

nav.MuiTypography-root.MuiTypography-body1.MuiBreadcrumbs-root.css-51la7g-MuiTypography-root-MuiBreadcrumbs-root *{
  font-family: 'Betm-Black' !important;
}

.user-info {
  text-align: center;
}

.MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault.css-11drvgn-MuiAvatar-root{
  margin: auto;
  margin-top: 5%;
}